.left-part {
    height: 80%;
    background-color: rgb(56, 121, 36);
}

.right-part {
    height: 80%;
    background-color: rgb(147, 85, 206);
}

.page-position {
    margin: 8%;
}

.left-part-col{
    height: 20vh;
    width: 100vh;
}