.container {
    width: 95%;
}

.left-part {
    height: 80%;
    background-color: rgb(56, 121, 36);
}

.right-part {
    height: 80%;
    background-color: rgb(147, 85, 206);
}

.page-position {
    margin-top: 6%;
}

.left-part-col{
    height: 20vh;
    width: 100vh;
    overflow:hidden;
    padding-bottom: 5%;
}

.btn-text {
    text-align: left;
    padding: 1% 5% 5% 5%;

}

.test:hover {
    background-color: aquamarine;
}
