.background{
    background-color: rgba(240, 241, 233, 0.562);
}

.left-part {
    height: 80%;
    background-color: rgba(150, 93, 93, 0.315);
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    overflow: auto;
}

.right-part {
    height: 80%;
    background-color: rgba(155, 173, 206, 0.603);
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}

.page-position {
    margin-top: 1.5%;
};

.left-part-col {
    height: 20vh;
    width: 100vh;
    overflow: hidden;
    padding-bottom: 5%;
}


.btn-text {
    text-align: left;
    padding: 1% 5% 5% 5%;
}

.left-part-btn:hover {
    background-color: rgba(151, 86, 86, 0.527);
}

.search {
    font-size: 20px;
    padding: 1px 20px 5px 35px;
    width: 40%;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-image: url('../images/SearchLogo.gif');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search:focus {
    width: 60%;
}

.box {
    margin-left: -15px;
    margin-bottom: 10px; 
}

.outSideBorder {
    border-style: solid;
    border-width: thin;
    border-color: #ccc  #ccc #fff  #ccc;
    border-top-left-radius:10px;
}

.outSideBorder-mid {
    border-style: solid;
    border-width: thin;
    border-color: #fff  #ccc #fff  #ccc;
}

.outSideBorder-last {
    border-style: solid;
    border-width: thin;
    border-color: #fff  #ccc #ccc  #ccc;
    border-bottom-left-radius: 10px;
}

.right-part-col {
    height: 94%;
    width: 94%;
    background-color: rgba(255, 255, 255, 0.699);
    margin-top: 3%;
    margin-left: 3%;
    border-style: solid;
    border-width: thin;
    border-color: rgba(149, 199, 214, 0.548);
    border-radius:10px;
    overflow: auto;
}