.btn-position {
    margin-left: 40%;
    margin-top: 2px;
}

.btn {
    background: transparent;
    color: rgb(255, 255, 255);
    font-family: 'Allerta', sans-serif;
    width: 110px;
    font-size: 20px;
}

.page {

}

.footer {
    position: absolute;
    bottom: 0;
    padding-top: 7px;
    width: 100%;
    background-color: rgba(70, 70, 70, 0.212);
}

#logo a {
    background: rgb(151, 204, 235);
    color: #fff;
    text-decoration: none;
    font-family: 'Ropa Sans', sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 1rem;
    line-height: 2rem;
    position: relative;
    transition: 0.5s;
}

#logo a:hover {
    background: rgb(157, 221, 221);
    color: #fff;
}

.footer-text {
    font-family: 'Allerta', sans-serif;
    font-size: 14px;
    text-align: left;
    margin-bottom: 1%;
}

.tittle-background {
    background-color: rgba(36, 36, 36, 0.753);
}

#tittle button:hover {
    color: rgb(255, 255, 255);
}