<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allerta" rel="stylesheet">
</head>

<body>
    <div class="tittle-background">
        <span id="logo">
            <a href="https://github.com/rocco777/origin-web">PCAP on GitHub</a>
        </span>
        <div id="tittle" class="btn-group btn-position">
            <button type="button" class="btn btn-link">Home</button>
            <button type="button" class="btn btn-link">About</button>
            <button type="button" class="btn btn-link">Library</button>
            <button type="button" class="btn btn-link">Support us !</button>
        </div>
    </div>


    <div>{{page}}</div>


    <footer class="footer">
        <div class="container">
            <div class="text-muted footer-text">plz give me money !!! Donate GD you will get future</div>
        </div>
    </footer>








</body>


</html>