<div class="container page-position">
    <div class="box">
        <input type="text" placeholder="Search" class="search">
    </div>
    <div class="row">
        <div class="col-4 left-part">
            <div class="row">
                <a href="http://www.google.com" target="right-display" class="left-part-col left-part-btn outSideBorder"
                    style="color:black; text-decoration:none;">
                    <div class="btn-text">
                        <div>Django Compressor</div>
                        <p></p>
                        <div>Django Compressor processes, combines and minifies linked and inline Javascript or CSS in
                            a Django
                            template into cacheable static files.</div>
                        <p></p>
                        <iframe src="https://ghbtns.com/github-btn.html?user=rocco777&repo=origin-web&type=watch&count=true&v=2"
                            frameborder="0" scrolling="0" width="105px" height="20px"></iframe>
                        <iframe src="https://ghbtns.com/github-btn.html?user=rocco777&repo=origin-web&type=star&count=true"
                            frameborder="0" scrolling="0" width="105px" height="20px"></iframe>
                        <iframe src="https://ghbtns.com/github-btn.html?user=rocco777&repo=origin-web&type=fork&count=true"
                            frameborder="0" scrolling="0" width="105px" height="20px"></iframe>
                    </div>
                </a>
                <a href="http://www.google.com" class="left-part-col left-part-btn outSideBorder-mid" style="color:black; text-decoration:none;">
                    <div class="btn-text">
                        <div>Django Simple Captcha</div>
                        <p></p>
                        <div>Django application to add captcha images to any Django form.</div>
                        <p></p>
                        <iframe src="https://ghbtns.com/github-btn.html?user=cdnjs&repo=cdnjs&type=watch&count=true&v=2"
                            frameborder="0" scrolling="0" width="105px" height="20px"></iframe>
                        <iframe src="https://ghbtns.com/github-btn.html?user=cdnjs&repo=cdnjs&type=star&count=true"
                            frameborder="0" scrolling="0" width="105px" height="20px"></iframe>
                        <iframe src="https://ghbtns.com/github-btn.html?user=cdnjs&repo=cdnjs&type=fork&count=true"
                            frameborder="0" scrolling="0" width="105px" height="20px"></iframe>
                    </div>
                </a>
                <a href="http://www.google.com" class="left-part-col left-part-btn outSideBorder-mid" style="color:black; text-decoration:none;">
                    <div class="btn-text">
                        <div>Django Compressor</div>
                        <p></p>
                        <div>Django Compressor processes, combines and minifies linked and inline Javascript or CSS in
                            a Django
                            template into cacheable static files.</div>
                        <p></p>
                        <iframe src="https://ghbtns.com/github-btn.html?user=cdnjs&repo=cdnjs&type=watch&count=true&v=2"
                            frameborder="0" scrolling="0" width="105px" height="20px"></iframe>
                        <iframe src="https://ghbtns.com/github-btn.html?user=cdnjs&repo=cdnjs&type=star&count=true"
                            frameborder="0" scrolling="0" width="105px" height="20px"></iframe>
                        <iframe src="https://ghbtns.com/github-btn.html?user=cdnjs&repo=cdnjs&type=fork&count=true"
                            frameborder="0" scrolling="0" width="105px" height="20px"></iframe>
                    </div>
                </a>
                <a href="http://www.google.com" class="left-part-col left-part-btn outSideBorder-last" style="color:black; text-decoration:none;">
                    <div class="btn-text">
                        <div>Django Compressor</div>
                        <p></p>
                        <div>Django Compressor processes, combines and minifies linked and inline Javascript or CSS in
                            a Django
                            template into cacheable static files.</div>
                        <p></p>
                        <iframe src="https://ghbtns.com/github-btn.html?user=cdnjs&repo=cdnjs&type=watch&count=true&v=2"
                            frameborder="0" scrolling="0" width="105px" height="20px"></iframe>
                        <iframe src="https://ghbtns.com/github-btn.html?user=cdnjs&repo=cdnjs&type=star&count=true"
                            frameborder="0" scrolling="0" width="105px" height="20px"></iframe>
                        <iframe src="https://ghbtns.com/github-btn.html?user=cdnjs&repo=cdnjs&type=fork&count=true"
                            frameborder="0" scrolling="0" width="105px" height="20px"></iframe>
                    </div>
                </a>
                <a href="http://www.google.com" class="left-part-col left-part-btn outSideBorder-last" style="color:black; text-decoration:none;">
                    <div class="btn-text">
                        <div>Django Compressor</div>
                        <p></p>
                        <div>Django Compressor processes, combines and minifies linked and inline Javascript or CSS in
                            a Django
                            template into cacheable static files.</div>
                        <p></p>
                        <iframe src="https://ghbtns.com/github-btn.html?user=rocco777&repo=origin-web&type=watch&count=true&v=2"
                            frameborder="0" scrolling="0" width="105px" height="20px"></iframe>
                        <iframe src="https://ghbtns.com/github-btn.html?user=cdnjs&repo=cdnjs&type=star&count=true"
                            frameborder="0" scrolling="0" width="105px" height="20px"></iframe>
                        <iframe src="https://ghbtns.com/github-btn.html?user=cdnjs&repo=cdnjs&type=fork&count=true"
                            frameborder="0" scrolling="0" width="105px" height="20px"></iframe>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-8 right-part">
            <div class="right-part-col">
                <script src="http://gist-it.appspot.com/http://github.com/rocco777/origin-web/blob/master/public/templates/layout.html?footer=0"></script>
            </div>
        </div>
    </div>
</div>